* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

text
{
    display: none;
}

/*
    Página login
*/

.container-login
{
    display: flex;
    align-items: center;
    height: 82vh;
}

.centrar-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #212529;
    color: white;
    width: 30%;
    margin: auto auto;
}

.centrar-login div
{
    margin: 40px 0;
}

.centrar-login input
{
    width: 700px;
}

/*
    Menú principal -- Header
*/

header 
{
    background-color: #212529;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 62.39px;
    color: white;
    width: 80%;
    margin: 0 auto;
    background-color: inherit;
}

.header div
{
    width: 50%;
}

.logo
{
    margin: 8px 0px 0px 120px;
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-top: 12px;
}

.header ul li {
    list-style: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    text-align:center;
    
}

.header ul li a
{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*
    Menú principal body
*/

.centrar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70vh;
    margin: 10vh auto;
    border: 2px solid black;
    border-radius: 20px;
    width: 30%;
    padding: 5vh 0;
    cursor: pointer;
    background-color: #212529;
}

.centrar-menu input
{
    width: 130px;
    padding: 7px;
}

/*
    Formulario alta
*/

.container-alta {
    border: 1px solid #212529;
    border-radius: 20px;
    margin-top: 250px;
    width: 30%;
    margin: 200px auto 0;
    height: 600px;
    color: white;
    background-color: #212529;
}

.container-alta h2
{
    height: 100px;
}

.form-alta
{
    width: 70%;
    margin: 0 auto;
}
